.account_button_wrapper {
    float: left;
}

.header-search__wrapper {
    position: absolute;
    top: -3px;
    right: 15px;
}

@media screen and (min-width: 480px) {
    .header-search__wrapper {
        right: 30px;
    }

    .account_button_wrapper {
        padding-left: 30px
    }
}
